body {
	background-color: green;
}

.b1 {
	width: 250px;
	height: 30px;
	background-color: white;
    color: blue;
    text-decoration: cursive;
    font-family: cursive;
}

.b2 {
	width: 250px;
	height: 30px;
	background-color: white;
    color: red;
    text-decoration: cursive;
    font-family: cursive;
}

.b3 {
	width: 300px;
	height: 70px;
	background-color: white;
    color: blue;
    position: absolute;
    left: 700px;
    top: 50px;
    text-decoration: cursive;
    font-family: cursive;
}


.b4 {
    position: absolute;
    left: 700px;
    top: 120px;
}

